<div class="carousel"
  data-flickity='{ "wrapAround": true }'>
  <div class="carousel-cell">
    <img class="carousel-img" src="images/ZSQD_Eureka.png" alt="">
  </div>
  <div class="carousel-cell">
    <img src="images/ZSQD_PrecisionGraphics.png" alt="">
  </div>
  <div class="carousel-cell">
    <img class="carousel-img" src="images/ZSQD_RJlogo.png" alt="">
  </div>
  <div class="carousel-cell">
    <img class="carousel-img" src="images/ZSQD_RPMVideo.png" alt="">
  </div>
  <div class="carousel-cell">
    <img class="carousel-img" src="images/ZSQD_SeniorProServices.png" alt="">
  </div>
  <div class="carousel-cell">
    <img src="images/ZSQD_RTPoster.jpg" alt="">
  </div>
</div>

<!-- <ul class="slides">
  <p><span class="chevron right"></span>
  <p><span class="chevron left"></span>
  <li class="slide showing">

  </li>
  <li class="slide">
    <img src="images/ZSQD_KristiGray.png" alt="">
  </li>
  <li class="slide">
    <img src="images/ZSQD_PrecisionGraphics.png" alt="">
  </li>
  <li class="slide">
    <img src="images/ZSQD_RJlogo.png" alt="">
  </li>
  <li class="slide">
    <img src="images/ZSQD_RPMVideo.png" alt="">
  </li>
  <li class="slide">
    <img src="images/ZSQD_RTPoster.jpg" alt="">
  </li>
  <li class="slide">
    <img src="images/ZSQD_SeniorProServices.png" alt="">
  </li>
</ul> -->